name: Publish

on:
  workflow_dispatch: {}
  push:
    branches:
      - trigger
    tags:
      - v[0-9]+

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:

    # Fetch this repository
    - uses: actions/checkout@v2

    # Set up GO
    - uses: actions/setup-go@v2
      with:
        go-version: 1.19

    # Fetch app installation token
    - uses: tibdex/github-app-token@v1.5.2
      id: gh-api-token
      with:
        app_id: ${{ secrets.GH_APP_STRIPE_OPENAPI_APP_ID }}
        private_key: ${{ secrets.GH_APP_STRIPE_OPENAPI_PRIVATE_KEY }}

    - name: Trigger generated code update
      run: |
        curl -XPOST -u ":${{ steps.gh-api-token.outputs.token }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/stripe/sdk-codegen/actions/workflows/codegen.yml/dispatches --data '{}'

    # # Fetch repositories to modify
    # - uses: actions/checkout@v3
    #   with:
    #     token: ${{ steps.gh-api-token.outputs.token }}
    #     repository: stripe/stripe-mock
    #     path: stripe-mock
    # - uses: actions/checkout@v3
    #   with:
    #     token: ${{ steps.gh-api-token.outputs.token }}
    #     repository: stripe/stripe-cli
    #     path: stripe-cli

    # - run: |
    #     rm -f ./api/openapi-spec/spec3.sdk.json 
    #     cp ../openapi/spec3.sdk.json ./api/openapi-spec/spec3.sdk.json 
    #     go generate ./...
    #   working-directory: ./stripe-cli
    # - run: |
    #     rm -f ./stripe-mock/embedded/openapi/spec3.json
    #     rm -f ./stripe-mock/embedded/openapi/fixtures3.json
    #     cp openapi/spec3.json stripe-mock/embedded/openapi/spec3.json
    #     cp openapi/fixtures3.json stripe-mock/embedded/openapi/fixtures3.json

    # # Create pull request on stripe-mock
    # - name: Create Pull Request
    #   uses: peter-evans/create-pull-request@v4
    #   with:
    #     path: stripe-mock
    #     title: OpenAPI Update
    #     body: |
    #       Automated OpenAPI update for https://github.com/stripe/openapi/commit/${{ github.sha }}

    #       [→ Debug this workflow](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
    #     branch: update-openapi
    #     token: ${{ steps.gh-api-token.outputs.token }}
    #     delete-branch: true
    #     commit-message: Update OpenAPI for ${{ github.sha }}
    #     committer: "Stripe OpenAPI <105521251+stripe-openapi[bot]@users.noreply.github.com>"
    #     author: "Stripe OpenAPI <105521251+stripe-openapi[bot]@users.noreply.github.com>"

    # # Create pull request on openapi
    # - name: Create Pull Request
    #   uses: peter-evans/create-pull-request@v4
    #   with:
    #     path: stripe-cli
    #     title: OpenAPI Update
    #     body: |
    #       Automated OpenAPI update for https://github.com/stripe/openapi/commit/${{ github.sha }}

    #       This pull request was initiated by @${{ github.actor }}

    #       [→ Debug this workflow](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}})
    #     branch: update-openapi
    #     token: ${{ steps.gh-api-token.outputs.token }}
    #     delete-branch: true
    #     commit-message: Update OpenAPI for ${{ github.sha }}
    #     committer: "Stripe OpenAPI <105521251+stripe-openapi[bot]@users.noreply.github.com>"
    #     author: "Stripe OpenAPI <105521251+stripe-openapi[bot]@users.noreply.github.com>"
