name: Release

on:
  workflow_dispatch: {}
  push:
    tags:
      - v[0-9]+

jobs:  
  publish:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Extract tag message
      run: |
        git fetch --tags --force
        echo "$(git tag -l --format='%(contents:body)' ${{ github.ref_name }})" > "${{ runner.temp }}/release_notes.md"
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        body_path: ${{ runner.temp }}/release_notes.md